#input{
    width:800px;
    margin: auto;
    border-width:1px;
    border-style:solid;
    border-color:#ddd;
    
    }

#output{
    /*display:none;*/
    width:800px;
    margin: auto;
    border-width:1px;
    border-style:solid;
    border-color:#ddd;
    }